.cloud {
	position: absolute;
	left: -100%; /* Commence plus loin à gauche */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: moveCloud linear infinite;
	opacity: 0; /* Début invisible */
}

@keyframes moveCloud {
	0% {
		left: -500px;
	}
	100% {
		left: 150vw;
	}
}

/* .cloud[data-size="big"] {
	filter: blur(2px); 
	z-index: 1; 
} */

.cloud[data-size="small"] {
	z-index: 2; /* Avant-plan */
}
